@model List<List<string>>

@{
    ViewBag.Title = "Table Projection";
}

<h2>Table Projection of table <strong>@ViewBag.TableName</strong></h2>

<hr />
<table class="table table-bordered">
    <thead>
    <tr>
        @foreach (var name in ViewBag.ColumnsNames)
        {
            <th scope="col">@name</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var row in Model)
    {
        <tr>
            @foreach (var cell in row)
            {
                <td>@cell</td>
            }
        </tr>
    }
    </tbody>
</table>

